 #  A Portfolio-Inflation Analyser
 ---

 In this project, we will use what we have learned over the past few weeks to evaluate the performance of 3 kinds of portfolios (a) Conservative (b) Growth and (c) Moderate over the last 10 years. We will evaluate which asset classes performed better and what was the impact of inflation. Lastly, we will provide recommendations on how you can rebalance your investments to reduce the effect of inflation. 
 Few points to keep in mind: 1. Use panda's to clean and format data sets 2. Describe the data exploration and cleanup  3. Create 6-8 visulaizations  4. Aggregate the visulaizations into a dashboard 5. Use an API and atleast one new python library

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import seaborn as sns

%matplotlib inline

# Data Gathering

We used the Google Finance function to obtain the data for last 10 years for the following Tickers
and saved them as csv files (formatted Date to remove time component) in Resources Folder.

* VTSMX	Vanguard Total Stock Mkt Idx Inv: ' =GOOGLEFINANCE("VTSMX", "price", "1/1/2012", "12/31/2021", "DAILY") '
* VGTSX	Vanguard Total Intl Stock Index Inv: ' =GOOGLEFINANCE("VGTSX", "price", "1/1/2012", "12/31/2021", "DAILY") '
* VBMFX	Vanguard Total Bond Market Index Inv: ' =GOOGLEFINANCE("VBMFX", "price", "1/1/2017", "12/31/2021", "DAILY") '
* PIGLX	PIMCO Global Bond Opps (Unhedged): ' =GOOGLEFINANCE("PIGLX", "price", "1/1/2017", "12/31/2021", "DAILY")' '

Files:

* `VTSMX_data.csv`: Contains closing prices of Vanguard Total Stock Mkt Idx Inv

* `VGTSX_data.csv`: Contains closing prices of Vanguard Total Intl Stock Index Inv

* `VBMFX_data.csv`: Contains closing prices of Vanguard Total Bond Market Index Inv

* `PIGLX_data.csv`: Contains closing prices of PIMCO Global Bond Opps (Unhedged)

# Data Cleaning

In this section, we read the CSV files into DataFrames and perform any necessary data cleaning steps

## VTSMX Data
Read the VTSMX csv and clean the data.

In [2]:
# Set the Path
vtsmx_data = Path("Resources/VTSMX_data.csv")

# Read the historic closing prices and create a new daily returns DataFrame from the data. 
vtsmx_df = pd.read_csv(vtsmx_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

# Sort DataFrame by Date Index
vtsmx_df.sort_index(inplace=True)
vtsmx_df.head()

            Close
Date
2012-01-03  31.76
2012-01-04  31.75
2012-01-05  31.87
2012-01-06  31.81
2012-01-09  31.90

In [3]:
# Check Data Types
print(vtsmx_df.dtypes)

Close    float64
dtype: object

In [4]:
# Calculate Daily Returns
vtsmx_df['Daily Returns'] = vtsmx_df['Close'].pct_change()
vtsmx_df.head()

            Close  Daily Returns
Date
2012-01-03  31.76            NaN
2012-01-04  31.75      -0.000315
2012-01-05  31.87       0.003780
2012-01-06  31.81      -0.001883
2012-01-09  31.90       0.002829

In [5]:
# Rename `Close` & 'Daily Returns' Columns to be specific  
columns = ["VTSMX Close", "VTSMX Returns"]
vtsmx_df.columns = columns
vtsmx_df.head()

            VTSMX Close  VTSMX Returns
Date
2012-01-03        31.76            NaN
2012-01-04        31.75      -0.000315
2012-01-05        31.87       0.003780
2012-01-06        31.81      -0.001883
2012-01-09        31.90       0.002829

In [6]:
# Count nulls
vtsmx_df.isnull().sum()

VTSMX Close      0
VTSMX Returns    1
dtype: int64

In [7]:
# Drop nulls - Used the `dropna` function to drop whole records that have at least one null value
vtsmx_df.dropna(inplace=True)
# Check no more nulls
vtsmx_df.isnull().sum()

VTSMX Close      0
VTSMX Returns    0
dtype: int64

## VGTSX Data
Read the VGTSX csv and clean the data.

In [8]:
# Set the Path
vgtsx_data = Path("Resources/VGTSX_data.csv")

# Read the historic closing prices and create a new daily returns DataFrame from the data. 
vgtsx_df = pd.read_csv(vgtsx_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

# Sort DataFrame by Date Index
vgtsx_df.sort_index(inplace=True)
vgtsx_df.head()

            Close
Date
2017-01-03  14.82
2017-01-04  14.97
2017-01-05  15.12
2017-01-06  15.06
2017-01-09  15.02

In [9]:
# Check Data Types
print(vgtsx_df.dtypes)

Close    float64
dtype: object

In [10]:
# Calculate Daily Returns
vgtsx_df['Daily Returns'] = vgtsx_df['Close'].pct_change()
vgtsx_df.head()

            Close  Daily Returns
Date
2017-01-03  14.82            NaN
2017-01-04  14.97       0.010121
2017-01-05  15.12       0.010020
2017-01-06  15.06      -0.003968
2017-01-09  15.02      -0.002656

In [11]:
# Rename `Close` & 'Daily Returns' Columns to be specific  
columns = ["VGTSX Close", "VGTSX Returns"]
vgtsx_df.columns = columns
vgtsx_df.head()

            VGTSX Close  VGTSX Returns
Date
2017-01-03        14.82            NaN
2017-01-04        14.97       0.010121
2017-01-05        15.12       0.010020
2017-01-06        15.06      -0.003968
2017-01-09        15.02      -0.002656

In [12]:
# Count nulls
vgtsx_df.isnull().sum()

VGTSX Close      0
VGTSX Returns    1
dtype: int64

In [13]:
# Drop nulls - Used the `dropna` function to drop whole records that have at least one null value
vgtsx_df.dropna(inplace=True)
# Check no more nulls
vgtsx_df.isnull().sum()

VGTSX Close      0
VGTSX Returns    0
dtype: int64

## VBMFX Data
Read the VBMFX csv and clean the data.

In [14]:
# Set the Path
vbmfx_data = Path("Resources/VBMFX_data.csv")

# Read the historic closing prices and create a new daily returns DataFrame from the data. 
vbmfx_df = pd.read_csv(vbmfx_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

# Sort DataFrame by Date Index
vbmfx_df.sort_index(inplace=True)
vbmfx_df.head()

            Close
Date
2017-01-03  10.65
2017-01-04  10.66
2017-01-05  10.71
2017-01-06  10.67
2017-01-09  10.70

In [15]:
# Check Data Types
print(vbmfx_df.dtypes)

Close    float64
dtype: object

In [16]:
# Calculate Daily Returns
vbmfx_df['Daily Returns'] = vbmfx_df['Close'].pct_change()
vbmfx_df.head()

            Close  Daily Returns
Date
2017-01-03  10.65            NaN
2017-01-04  10.66       0.000939
2017-01-05  10.71       0.004690
2017-01-06  10.67      -0.003735
2017-01-09  10.70       0.002812

In [17]:
# Rename `Close` & 'Daily Returns' Columns to be specific  
columns = ["VBMFX Close", "VBMFX Returns"]
vbmfx_df.columns = columns
vbmfx_df.head()

            VBMFX Close  VBMFX Returns
Date
2017-01-03        10.65            NaN
2017-01-04        10.66       0.000939
2017-01-05        10.71       0.004690
2017-01-06        10.67      -0.003735
2017-01-09        10.70       0.002812

In [18]:
# Count nulls
vbmfx_df.isnull().sum()

VBMFX Close      0
VBMFX Returns    1
dtype: int64

In [19]:
# Drop nulls - Used the `dropna` function to drop whole records that have at least one null value
vbmfx_df.dropna(inplace=True)
# Check no more nulls
vbmfx_df.isnull().sum()

VBMFX Close      0
VBMFX Returns    0
dtype: int64

## PIGLX Data

Read the PIGLX csv and clean the data.

In [20]:
# Set the Path
piglx_data = Path("Resources/PIGLX_data.csv")

# Read the historic closing prices and create a new daily returns DataFrame from the data. 
piglx_df = pd.read_csv(piglx_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

# Sort DataFrame by Date Index
piglx_df.sort_index(inplace=True)
piglx_df.head()

            Close
Date
2017-01-03   8.89
2017-01-04   8.91
2017-01-05   8.98
2017-01-06   8.93
2017-01-09   8.96

In [21]:
# Check Data Types
print(piglx_df.dtypes)

Close    float64
dtype: object

In [22]:
# Calculate Daily Returns
piglx_df['Daily Returns'] = piglx_df['Close'].pct_change()
piglx_df.head()

            Close  Daily Returns
Date
2017-01-03   8.89            NaN
2017-01-04   8.91       0.002250
2017-01-05   8.98       0.007856
2017-01-06   8.93      -0.005568
2017-01-09   8.96       0.003359

In [23]:
# Rename `Close` & 'Daily Returns' Columns to be specific  
columns = ["PIGLX Close", "PIGLX Returns"]
piglx_df.columns = columns
piglx_df.head()

            PIGLX Close  PIGLX Returns
Date
2017-01-03         8.89            NaN
2017-01-04         8.91       0.002250
2017-01-05         8.98       0.007856
2017-01-06         8.93      -0.005568
2017-01-09         8.96       0.003359

In [24]:
# Count nulls
piglx_df.isnull().sum()

PIGLX Close      0
PIGLX Returns    1
dtype: int64

In [25]:
# Drop nulls - Used the `dropna` function to drop whole records that have at least one null value
piglx_df.dropna(inplace=True)
# Check no more nulls
piglx_df.isnull().sum()

PIGLX Close      0
PIGLX Returns    0
dtype: int64

## Combine VGTSX, VGTSX, VBMFX, and PIGLX Returns

In [33]:
# Join all returns dataframes intp a single one. Drop columns so we have left only the ones with returns
all_returns_df = pd.concat([vgtsx_df, vtsmx_df, vbmfx_df, piglx_df], axis="columns", join="inner")
##all_returns_df

all_returns_df = all_returns_df.drop(all_returns_df.filter(regex='Close').columns, axis=1)
all_returns_df

            VGTSX Returns  VTSMX Returns  VBMFX Returns  PIGLX Returns
Date
2017-01-04       0.010121       0.007962       0.000939       0.002250
2017-01-05       0.010020      -0.001931       0.004690       0.007856
2017-01-06      -0.003968       0.002990      -0.003735      -0.005568
2017-01-09      -0.002656      -0.003858       0.002812       0.003359
2017-01-10       0.001997       0.001232      -0.000935       0.001116
...                   ...            ...            ...            ...
2021-12-23       0.006448       0.003267      -0.001784       0.001104
2021-12-27       0.005421       0.012855       0.000894      -0.001103
2021-12-28       0.000490      -0.002115      -0.000893      -0.027594
2021-12-29      -0.000490       0.001102      -0.002681       0.001135
2021-12-30       0.000980      -0.001779       0.001792      -0.001134

[1257 rows x 4 columns]

## Calculate the weighted returns for CONSERVATIVE portfolio

In [35]:
# Set weights
weights1 = [0.48, 0.12, 0.14, 0.26]

# Calculate portfolio return
conservative_df = all_returns_df.dot(weights1)

# Display sample data
conservative_df

Date
2017-01-04    0.006530
2017-01-05    0.007277
2017-01-06   -0.003517
2017-01-09   -0.000471
2017-01-10    0.001266
                ...
2021-12-23    0.003524
2021-12-27    0.003983
2021-12-28   -0.007318
2021-12-29   -0.000183
2021-12-30    0.000213
Length: 1257, dtype: float64

## Calculate the weighted returns for GROWTH portfolio

In [36]:
# Set weights
weights2 = [0.16, 0.04, 0.28, 0.52]

# Calculate portfolio return
growth_df = all_returns_df.dot(weights2)

# Display sample data
growth_df

Date
2017-01-04    0.003371
2017-01-05    0.006925
2017-01-06   -0.004456
2017-01-09    0.001955
2017-01-10    0.000688
                ...
2021-12-23    0.001237
2021-12-27    0.001059
2021-12-28   -0.014605
2021-12-29   -0.000195
2021-12-30   -0.000002
Length: 1257, dtype: float64

## Calculate the weighted returns for MODERATE portfolio

In [38]:
# Set weights
weights3 = [0.32, 0.08, 0.21, 0.39]

# Calculate portfolio return
moderate_df = all_returns_df.dot(weights3)

# Display sample data
moderate_df

Date
2017-01-04    0.004950
2017-01-05    0.007101
2017-01-06   -0.003986
2017-01-09    0.000742
2017-01-10    0.000977
                ...
2021-12-23    0.002381
2021-12-27    0.002521
2021-12-28   -0.010961
2021-12-29   -0.000189
2021-12-30    0.000106
Length: 1257, dtype: float64