 #  A Portfolio-Inflation Analyser
 ---

 In this project, we will use what we have learned over the past few weeks to evaluate the performance of 3 kinds of portfolios (a) Conservative (b) Growth and (c) Moderate over the last 10 years. We will evaluate which asset classes performed better and what was the impact of inflation. Lastly, we will provide recommendations on how you can rebalance your investments to reduce the effect of inflation. 
 Few points to keep in mind: 1. Use panda's to clean and format data sets 2. Describe the data exploration and cleanup  3. Create 6-8 visulaizations  4. Aggregate the visulaizations into a dashboard 5. Use an API and atleast one new python library

In [1]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path
import seaborn as sns

%matplotlib inline

# Data Gathering

We used the Google Finance function to obtain the data for last 10 years for the following Tickers
and saved them as csv files (formatted Date to remove time component) in Resources Folder.

* VTSMX	Vanguard Total Stock Mkt Idx Inv: ' =GOOGLEFINANCE("VTSMX", "price", "1/1/2012", "12/31/2021", "DAILY") '
* VGTSX	Vanguard Total Intl Stock Index Inv: ' =GOOGLEFINANCE("VGTSX", "price", "1/1/2012", "12/31/2021", "DAILY") '
* VBMFX	Vanguard Total Bond Market Index Inv: ' =GOOGLEFINANCE("VBMFX", "price", "1/1/2017", "12/31/2021", "DAILY") '
* PIGLX	PIMCO Global Bond Opps (Unhedged): ' =GOOGLEFINANCE("PIGLX", "price", "1/1/2017", "12/31/2021", "DAILY")' '

Files:

* `VTSMX_data.csv`: Contains closing prices of Vanguard Total Stock Mkt Idx Inv

* `VGTSX_data.csv`: Contains closing prices of Vanguard Total Intl Stock Index Inv

* `VBMFX_data.csv`: Contains closing prices of Vanguard Total Bond Market Index Inv

* `PIGLX_data.csv`: Contains closing prices of PIMCO Global Bond Opps (Unhedged)

# Data Cleaning

In this section, we read the CSV files into DataFrames and perform any necessary data cleaning steps

## VTSMX Data
Read the VTSMX csv and clean the data.

In [2]:
# Set the Path
vtsmx_data = Path("Resources/VTSMX_data.csv")

# Read the historic closing prices and create a new daily returns DataFrame from the data. 
vtsmx_df = pd.read_csv(vtsmx_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

# Sort DataFrame by Date Index
vtsmx_df.sort_index(inplace=True)
vtsmx_df.head()

            Close
Date
2012-01-03  31.76
2012-01-04  31.75
2012-01-05  31.87
2012-01-06  31.81
2012-01-09  31.90

In [3]:
# Check Data Types
print(vtsmx_df.dtypes)

Close    float64
dtype: object

In [4]:
# Sample DataFrame so it contains closing for month ends
# Monthly Data will be used later as Inflation data is monthly
vtsmx_df = vtsmx_df.resample('M').last()
vtsmx_df

             Close
Date
2012-01-31   32.88
2012-02-29   34.28
2012-03-31   35.19
2012-04-30   34.96
2012-05-31   32.78
...            ...
2021-08-31  113.46
2021-09-30  108.06
2021-10-31  115.31
2021-11-30  113.59
2021-12-31  117.86

[120 rows x 1 columns]

In [5]:
# Calculate Monthly Returns
vtsmx_df['Monthly Returns'] = vtsmx_df['Close'].pct_change()
vtsmx_df.head()

            Close  Monthly Returns
Date
2012-01-31  32.88              NaN
2012-02-29  34.28         0.042579
2012-03-31  35.19         0.026546
2012-04-30  34.96        -0.006536
2012-05-31  32.78        -0.062357

In [6]:
# Rename `Close` & 'Returns' Columns to be specific  
columns = ["VTSMX Close", "VTSMX Returns"]
vtsmx_df.columns = columns
vtsmx_df.head()

            VTSMX Close  VTSMX Returns
Date
2012-01-31        32.88            NaN
2012-02-29        34.28       0.042579
2012-03-31        35.19       0.026546
2012-04-30        34.96      -0.006536
2012-05-31        32.78      -0.062357

In [7]:
# Count nulls
vtsmx_df.isnull().sum()

VTSMX Close      0
VTSMX Returns    1
dtype: int64

In [8]:
# Drop nulls - Used the `dropna` function to drop whole records that have at least one null value
vtsmx_df.dropna(inplace=True)
# Check no more nulls
vtsmx_df.isnull().sum()

VTSMX Close      0
VTSMX Returns    0
dtype: int64

## VGTSX Data
Read the VGTSX csv and clean the data.

In [9]:
# Set the Path
vgtsx_data = Path("Resources/VGTSX_data.csv")

# Read the historic closing prices and create a new daily returns DataFrame from the data. 
vgtsx_df = pd.read_csv(vgtsx_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

# Sort DataFrame by Date Index
vgtsx_df.sort_index(inplace=True)
vgtsx_df.head()

            Close
Date
2017-01-03  14.82
2017-01-04  14.97
2017-01-05  15.12
2017-01-06  15.06
2017-01-09  15.02

In [10]:
# Check Data Types
print(vgtsx_df.dtypes)

Close    float64
dtype: object

In [11]:
# Sample DataFrame so it contains closing for month ends
# Monthly Data will be used later as Inflation data is monthly
vgtsx_df = vgtsx_df.resample('M').last()
vgtsx_df

            Close
Date
2017-01-31  15.30
2017-02-28  15.53
2017-03-31  15.92
2017-04-30  16.27
2017-05-31  16.76
2017-06-30  16.67
2017-07-31  17.24
2017-08-31  17.35
2017-09-30  17.57
2017-10-31  17.91
2017-11-30  18.05
2017-12-31  18.24
2018-01-31  19.26
2018-02-28  18.27
2018-03-31  18.11
2018-04-30  18.26
2018-05-31  17.91
2018-06-30  17.35
2018-07-31  17.78
2018-08-31  17.39
2018-09-30  17.36
2018-10-31  15.91
2018-11-30  16.11
2018-12-31  15.17
2019-01-31  16.32
2019-02-28  16.60
2019-03-31  16.67
2019-04-30  17.13
2019-05-31  16.18
2019-06-30  16.93
2019-07-31  16.61
2019-08-31  16.22
2019-09-30  16.57
2019-10-31  17.13
2019-11-30  17.32
2019-12-31  17.86
2020-01-31  17.27
2020-02-29  16.11
2020-03-31  13.48
2020-04-30  14.57
2020-05-31  15.27
2020-06-30  15.84
2020-07-31  16.49
2020-08-31  17.20
2020-09-30  16.76
2020-10-31  16.39
2020-11-30  18.51
2020-12-31  19.40
2021-01-31  19.38
2021-02-28  19.83
2021-03-31  20.12
2021-04-30  20.68
2021-05-31  21.33
2021-06-30  21.07
2021-07-31  20.80
2021-08-31  21.16
2021-09-30  20.33
2021-10-31  20.86
2021-11-30  19.94
2021-12-31  20.42

In [12]:
# Calculate Monthly Returns
vgtsx_df['Monthly Returns'] = vgtsx_df['Close'].pct_change()
vgtsx_df.head()

            Close  Monthly Returns
Date
2017-01-31  15.30              NaN
2017-02-28  15.53         0.015033
2017-03-31  15.92         0.025113
2017-04-30  16.27         0.021985
2017-05-31  16.76         0.030117

In [13]:
# Rename `Close` & 'Returns' Columns to be specific  
columns = ["VGTSX Close", "VGTSX Returns"]
vgtsx_df.columns = columns
vgtsx_df.head()

            VGTSX Close  VGTSX Returns
Date
2017-01-31        15.30            NaN
2017-02-28        15.53       0.015033
2017-03-31        15.92       0.025113
2017-04-30        16.27       0.021985
2017-05-31        16.76       0.030117

In [14]:
# Count nulls
vgtsx_df.isnull().sum()

VGTSX Close      0
VGTSX Returns    1
dtype: int64

In [15]:
# Drop nulls - Used the `dropna` function to drop whole records that have at least one null value
vgtsx_df.dropna(inplace=True)
# Check no more nulls
vgtsx_df.isnull().sum()

VGTSX Close      0
VGTSX Returns    0
dtype: int64

## VBMFX Data
Read the VBMFX csv and clean the data.

In [16]:
# Set the Path
vbmfx_data = Path("Resources/VBMFX_data.csv")

# Read the historic closing prices and create a new daily returns DataFrame from the data. 
vbmfx_df = pd.read_csv(vbmfx_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

# Sort DataFrame by Date Index
vbmfx_df.sort_index(inplace=True)
vbmfx_df.head()

            Close
Date
2017-01-03  10.65
2017-01-04  10.66
2017-01-05  10.71
2017-01-06  10.67
2017-01-09  10.70

In [17]:
# Check Data Types
print(vbmfx_df.dtypes)

Close    float64
dtype: object

In [18]:
# Sample DataFrame so it contains closing for month ends
# Monthly Data will be used later as Inflation data is monthly
vbmfx_df = vbmfx_df.resample('M').last()
vbmfx_df

            Close
Date
2017-01-31  10.66
2017-02-28  10.71
2017-03-31  10.68
2017-04-30  10.74
2017-05-31  10.79
2017-06-30  10.77
2017-07-31  10.79
2017-08-31  10.86
2017-09-30  10.78
2017-10-31  10.77
2017-11-30  10.73
2017-12-31  10.75
2018-01-31  10.61
2018-02-28  10.48
2018-03-31  10.52
2018-04-30  10.41
2018-05-31  10.45
2018-06-30  10.43
2018-07-31  10.41
2018-08-31  10.44
2018-09-30  10.36
2018-10-31  10.26
2018-11-30  10.29
2018-12-31  10.45
2019-01-31  10.53
2019-02-28  10.50
2019-03-31  10.68
2019-04-30  10.66
2019-05-31  10.83
2019-06-30  10.93
2019-07-31  10.93
2019-08-31  11.21
2019-09-30  11.12
2019-10-31  11.12
2019-11-30  11.09
2019-12-31  11.05
2020-01-31  11.26
2020-02-29  11.43
2020-03-31  11.34
2020-04-30  11.51
2020-05-31  11.55
2020-06-30  11.61
2020-07-31  11.77
2020-08-31  11.63
2020-09-30  11.62
2020-10-31  11.53
2020-11-30  11.64
2020-12-31  11.62
2021-01-31  11.51
2021-02-28  11.32
2021-03-31  11.14
2021-04-30  11.23
2021-05-31  11.24
2021-06-30  11.31
2021-07-31  11.43
2021-08-31  11.39
2021-09-30  11.27
2021-10-31  11.25
2021-11-30  11.27
2021-12-31  11.18

In [19]:
# Calculate Monthly Returns
vbmfx_df['Monthly Returns'] = vbmfx_df['Close'].pct_change()
vbmfx_df.head()

            Close  Monthly Returns
Date
2017-01-31  10.66              NaN
2017-02-28  10.71         0.004690
2017-03-31  10.68        -0.002801
2017-04-30  10.74         0.005618
2017-05-31  10.79         0.004655

In [20]:
# Rename `Close` & 'Returns' Columns to be specific  
columns = ["VBMFX Close", "VBMFX Returns"]
vbmfx_df.columns = columns
vbmfx_df.head()

            VBMFX Close  VBMFX Returns
Date
2017-01-31        10.66            NaN
2017-02-28        10.71       0.004690
2017-03-31        10.68      -0.002801
2017-04-30        10.74       0.005618
2017-05-31        10.79       0.004655

In [21]:
# Count nulls
vbmfx_df.isnull().sum()

VBMFX Close      0
VBMFX Returns    1
dtype: int64

In [22]:
# Drop nulls - Used the `dropna` function to drop whole records that have at least one null value
vbmfx_df.dropna(inplace=True)
# Check no more nulls
vbmfx_df.isnull().sum()

VBMFX Close      0
VBMFX Returns    0
dtype: int64

## PIGLX Data

Read the PIGLX csv and clean the data.

In [23]:
# Set the Path
piglx_data = Path("Resources/PIGLX_data.csv")

# Read the historic closing prices and create a new daily returns DataFrame from the data. 
piglx_df = pd.read_csv(piglx_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

# Sort DataFrame by Date Index
piglx_df.sort_index(inplace=True)
piglx_df.head()

            Close
Date
2017-01-03   8.89
2017-01-04   8.91
2017-01-05   8.98
2017-01-06   8.93
2017-01-09   8.96

In [24]:
# Check Data Types
print(piglx_df.dtypes)

Close    float64
dtype: object

In [25]:
# Sample DataFrame so it contains closing for month ends
# Monthly Data will be used later as Inflation data is monthly
piglx_df = piglx_df.resample('M').last()
piglx_df

            Close
Date
2017-01-31   9.07
2017-02-28   9.13
2017-03-31   9.15
2017-04-30   9.23
2017-05-31   9.36
2017-06-30   9.36
2017-07-31   9.54
2017-08-31   9.64
2017-09-30   9.56
2017-10-31   9.51
2017-11-30   9.59
2017-12-31   9.60
2018-01-31   9.77
2018-02-28   9.61
2018-03-31   9.65
2018-04-30   9.48
2018-05-31   9.34
2018-06-30   9.28
2018-07-31   9.33
2018-08-31   9.23
2018-09-30   9.25
2018-10-31   9.07
2018-11-30   9.03
2018-12-31   8.79
2019-01-31   8.97
2019-02-28   8.96
2019-03-31   8.94
2019-04-30   8.95
2019-05-31   8.95
2019-06-30   9.09
2019-07-31   8.99
2019-08-31   8.99
2019-09-30   8.94
2019-10-31   9.02
2019-11-30   8.94
2019-12-31   9.10
2020-01-31   9.11
2020-02-29   9.01
2020-03-31   8.32
2020-04-30   8.56
2020-05-31   8.74
2020-06-30   8.89
2020-07-31   9.19
2020-08-31   9.35
2020-09-30   9.28
2020-10-31   9.31
2020-11-30   9.55
2020-12-31   9.77
2021-01-31   9.74
2021-02-28   9.66
2021-03-31   9.52
2021-04-30   9.63
2021-05-31   9.70
2021-06-30   9.53
2021-07-31   9.56
2021-08-31   9.52
2021-09-30   9.42
2021-10-31   9.33
2021-11-30   9.24
2021-12-31   8.81

In [26]:
# Calculate Monthly Returns
piglx_df['Monthly Returns'] = piglx_df['Close'].pct_change()
piglx_df.head()

            Close  Monthly Returns
Date
2017-01-31   9.07              NaN
2017-02-28   9.13         0.006615
2017-03-31   9.15         0.002191
2017-04-30   9.23         0.008743
2017-05-31   9.36         0.014085

In [27]:
# Rename `Close` & 'Returns' Columns to be specific  
columns = ["PIGLX Close", "PIGLX Returns"]
piglx_df.columns = columns
piglx_df.head()

            PIGLX Close  PIGLX Returns
Date
2017-01-31         9.07            NaN
2017-02-28         9.13       0.006615
2017-03-31         9.15       0.002191
2017-04-30         9.23       0.008743
2017-05-31         9.36       0.014085

In [28]:
# Count nulls
piglx_df.isnull().sum()

PIGLX Close      0
PIGLX Returns    1
dtype: int64

In [29]:
# Drop nulls - Used the `dropna` function to drop whole records that have at least one null value
piglx_df.dropna(inplace=True)
# Check no more nulls
piglx_df.isnull().sum()

PIGLX Close      0
PIGLX Returns    0
dtype: int64

## Combine VGTSX, VGTSX, VBMFX, and PIGLX Returns

In [30]:
# Join all returns dataframes intp a single one. Drop columns so we have left only the ones with returns
all_returns_df = pd.concat([vgtsx_df, vtsmx_df, vbmfx_df, piglx_df], axis="columns", join="inner")
##all_returns_df

all_returns_df = all_returns_df.drop(all_returns_df.filter(regex='Close').columns, axis=1)
all_returns_df

            VGTSX Returns  VTSMX Returns  VBMFX Returns  PIGLX Returns
Date
2017-02-28       0.015033       0.037108       0.004690       0.006615
2017-03-31       0.025113      -0.003544      -0.002801       0.002191
2017-04-30       0.021985       0.010501       0.005618       0.008743
2017-05-31       0.030117       0.010057       0.004655       0.014085
2017-06-30      -0.005370       0.004812      -0.001854       0.000000
2017-07-31       0.034193       0.018662       0.001857       0.019231
2017-08-31       0.006381       0.001459       0.006487       0.010482
2017-09-30       0.012680       0.020398      -0.007366      -0.008299
2017-10-31       0.019351       0.021577      -0.000928      -0.005230
2017-11-30       0.007817       0.030440      -0.003714       0.008412
2017-12-31       0.010526       0.005275       0.001864       0.001043
2018-01-31       0.055921       0.053073      -0.013023       0.017708
2018-02-28      -0.051402      -0.037158      -0.012253      -0.016377
2018-03-31      -0.008758      -0.023658       0.003817       0.004162
2018-04-30       0.008283       0.003786      -0.010456      -0.017617
2018-05-31      -0.019168       0.027912       0.003842      -0.014768
2018-06-30      -0.031267       0.002789      -0.001914      -0.006424
2018-07-31       0.024784       0.033372      -0.001918       0.005388
2018-08-31      -0.021935       0.034419       0.002882      -0.010718
2018-09-30      -0.001725      -0.002876      -0.007663       0.002167
2018-10-31      -0.083525      -0.074018      -0.009653      -0.019459
2018-11-30       0.012571       0.020614       0.002924      -0.004410
2018-12-31      -0.058349      -0.097937       0.015549      -0.026578
2019-01-31       0.075808       0.085857       0.007656       0.020478
2019-02-28       0.017157       0.035010      -0.002849      -0.001115
2019-03-31       0.004217       0.009173       0.017143      -0.002232
2019-04-30       0.027594       0.039767      -0.001873       0.001119
2019-05-31      -0.055458      -0.064472       0.015947       0.000000
2019-06-30       0.046354       0.065995       0.009234       0.015642
2019-07-31      -0.018901       0.014382       0.000000      -0.011001
2019-08-31      -0.023480      -0.020254       0.025618       0.000000
2019-09-30       0.021578       0.012679      -0.008029      -0.005562
2019-10-31       0.033796       0.020958       0.000000       0.008949
2019-11-30       0.011092       0.037723      -0.002698      -0.008869
2019-12-31       0.031178       0.023250      -0.003607       0.017897
2020-01-31      -0.033035      -0.000753       0.019005       0.001099
2020-02-29      -0.067169      -0.081784       0.015098      -0.010977
2020-03-31      -0.163253      -0.141743      -0.007874      -0.076582
2020-04-30       0.080861       0.132473       0.014991       0.028846
2020-05-31       0.048044       0.053773       0.003475       0.021028
2020-06-30       0.037328       0.018434       0.005195       0.017162
2020-07-31       0.041035       0.056401       0.013781       0.033746
2020-08-31       0.043056       0.071766      -0.011895       0.017410
2020-09-30      -0.025581      -0.039388      -0.000860      -0.007487
2020-10-31      -0.022076      -0.021587      -0.007745       0.003233
2020-11-30       0.129347       0.121903       0.009540       0.025779
2020-12-31       0.048082       0.040541      -0.001718       0.023037
2021-01-31      -0.001031      -0.003379      -0.009466      -0.003071
2021-02-28       0.023220       0.031889      -0.016507      -0.008214
2021-03-31       0.014624       0.031520      -0.015901      -0.014493
2021-04-30       0.027833       0.051359       0.008079       0.011555
2021-05-31       0.031431       0.004260       0.000890       0.007269
2021-06-30      -0.012189       0.022436       0.006228      -0.017526
2021-07-31      -0.012814       0.017057       0.010610       0.003148
2021-08-31       0.017308       0.028556      -0.003500      -0.004184
2021-09-30      -0.039225      -0.047594      -0.010536      -0.010504
2021-10-31       0.026070       0.067092      -0.001775      -0.009554
2021-11-30      -0.044104      -0.014916       0.001778      -0.009646
2021-12-31       0.024072       0.037591      -0.007986      -0.046537

## Calculate the weighted returns for CONSERVATIVE portfolio

In [31]:
# Set weights
weights1 = [0.48, 0.12, 0.14, 0.26]

# Calculate portfolio return
conservative_df = all_returns_df.dot(weights1)

# Display sample data
conservative_df

Date
2017-02-28    0.014045
2017-03-31    0.011806
2017-04-30    0.014873
2017-05-31    0.019977
2017-06-30   -0.002260
2017-07-31    0.023912
2017-08-31    0.006871
2017-09-30    0.005345
2017-10-31    0.010388
2017-11-30    0.009072
2017-12-31    0.006218
2018-01-31    0.035992
2018-02-28   -0.035105
2018-03-31   -0.005426
2018-04-30   -0.001614
2018-05-31   -0.009153
2018-06-30   -0.016612
2018-07-31    0.017033
2018-08-31   -0.008782
2018-09-30   -0.001683
2018-10-31   -0.055385
2018-11-30    0.007770
2018-12-31   -0.044493
2019-01-31    0.053086
2019-02-28    0.011748
2019-03-31    0.004944
2019-04-30    0.018046
2019-05-31   -0.032124
2019-06-30    0.035529
2019-07-31   -0.010207
2019-08-31   -0.010114
2019-09-30    0.009309
2019-10-31    0.021064
2019-11-30    0.007167
2019-12-31    0.021904
2020-01-31   -0.013001
2020-02-29   -0.042795
2020-03-31   -0.116384
2020-04-30    0.064309
2020-05-31    0.035468
2020-06-30    0.025319
2020-07-31    0.037168
2020-08-31    0.032140
2020-09-30   -0.019073
2020-10-31   -0.013431
2020-11-30    0.084753
2020-12-31    0.033693
2021-01-31   -0.003024
2021-02-28    0.010526
2021-03-31    0.004808
2021-04-30    0.023658
2021-05-31    0.017613
2021-06-30   -0.006843
2021-07-31   -0.001800
2021-08-31    0.010157
2021-09-30   -0.028745
2021-10-31    0.017832
2021-11-30   -0.025219
2021-12-31    0.002848
Freq: M, dtype: float64

## Calculate the weighted returns for GROWTH portfolio

In [32]:
# Set weights
weights2 = [0.16, 0.04, 0.28, 0.52]

# Calculate portfolio return
growth_df = all_returns_df.dot(weights2)

# Display sample data
growth_df

Date
2017-02-28    0.008643
2017-03-31    0.004231
2017-04-30    0.010057
2017-05-31    0.013848
2017-06-30   -0.001186
2017-07-31    0.016737
2017-08-31    0.008346
2017-09-30   -0.003533
2017-10-31    0.000980
2017-11-30    0.005803
2017-12-31    0.002959
2018-01-31    0.016632
2018-02-28   -0.021657
2018-03-31    0.000886
2018-04-30   -0.010612
2018-05-31   -0.008554
2018-06-30   -0.008768
2018-07-31    0.007565
2018-08-31   -0.006899
2018-09-30   -0.001410
2018-10-31   -0.029146
2018-11-30    0.001361
2018-12-31   -0.022720
2019-01-31    0.028355
2019-02-28    0.002768
2019-03-31    0.004681
2019-04-30    0.006063
2019-05-31   -0.006987
2019-06-30    0.020776
2019-07-31   -0.008170
2019-08-31    0.002606
2019-09-30   -0.001180
2019-10-31    0.010899
2019-11-30   -0.002084
2019-12-31    0.014215
2020-01-31    0.000577
2020-02-29   -0.015499
2020-03-31   -0.073817
2020-04-30    0.037434
2020-05-31    0.021746
2020-06-30    0.017089
2020-07-31    0.030228
2020-08-31    0.015482
2020-09-30   -0.009802
2020-10-31   -0.004883
2020-11-30    0.041648
2020-12-31    0.020813
2021-01-31   -0.004547
2021-02-28   -0.003902
2021-03-31   -0.008388
2021-04-30    0.014778
2021-05-31    0.009229
2021-06-30   -0.008422
2021-07-31    0.003240
2021-08-31    0.000756
2021-09-30   -0.016592
2021-10-31    0.001390
2021-11-30   -0.012172
2021-12-31   -0.021080
Freq: M, dtype: float64

## Calculate the weighted returns for MODERATE portfolio

In [ ]:
# Set weights
weights3 = [0.32, 0.08, 0.21, 0.39]

# Calculate portfolio return
moderate_df = all_returns_df.dot(weights3)

# Display sample data
moderate_df